
@font-face {
   font-family: "Armonioso-trial"; 
   src: url('fonts/Armonioso-trial.otf');
	font-family: LowCasatLight_PERSONAL_USE; 
   src: url('fonts/LowCasatLight_PERSONAL_USE.ttf');
} 	
h1 {
	color: black;
	font-family: LowCasatLight_PERSONAL_USE;
	text-align: center;
	font-weight: normal;
	font-size: 60px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: black;
	padding:2%;
}
#enter_button{
	color: black;
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	font-size: 40px;
	position: fixed;
	text-align: center;
	top: 26%;
	left: 73%;
	text-decoration: none;
	border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: 3px 3px 10px #888888;
    padding: 10px;
}
#enter_button:hover{

	font-size: 60px;
	top: 24%;
	left: 70%;

}
#entry_pic{
  background: url(pics/IMG_6658.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
}
