body{
	background-color: white;

}

h1 {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	text-align: center;
	font-weight: normal;
	font-size: 60px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: black;
	padding-top:5%;
	
}

.pic{
	width: 55%;
	padding-top: 50px;
	padding-bottom: 70px;
	position: relative;	
	display: block;
	left: 23%;
}

.pic:hover {
  -webkit-filter: blur(5px);
}




#headshot {
	display: block;
	width: 30%;
	position: absolute;
	left: 12%;	
	top: 45%;
	
}

p{
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;	
	font-size: 25px;
	position: relative;
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    right: 5%;
}

li {
    float: right;
    display: block;
    padding-right: 50px;
}

li a {
    display: block;
    color: black;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    border-style: solid;
    border-width: 2px;
}

#contact_info {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	position: fixed;
	word-spacing: 70px;
	font-size: 13px;
	top: 95.5%;
	left: 2%;
}		
#button{
    display: block;
    border-style: solid;
    border-width: 2px;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#body {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	font-size: 20px;
	position: absolute;
	display: block;
	text-align: center;
	top: 50%;
	left: 40%;
	padding-left: 120px;
	padding-right: 120px;
	/*overflow-y: scroll;	*/
}


