body{
	background-color: white;

}

h1 {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	text-align: center;
	font-weight: normal;
	font-size: 60px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: black;
	padding:2%;
	
}

.screen_grab{
	width: 30%;
	margin-bottom: 160px;
	position: relative;	
	display: block;
	left: 35%;
}
.screen_grab:hover {
  -webkit-filter: blur(5px);
}
.photo{
	width: 55%;
	position: relative;	
	left: 23%;
}

.photo:hover {
  -webkit-filter: blur(5px);
}


#headshot {
	display: block;
	width: 30%;
	position: absolute;
	left: 12%;	
	top: 35%;
	
}

p{
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;	
	font-size: 25px;
	position: relative;
	display: block;
	text-align: center;

}
ul{
    list-style-type: none;
    margin-bottom: 170px;
    

}

li {
    float: right;
    display: block;
    padding-right: 30px;

}

li a {
    display: block;
    color: black;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    text-align: center;
    padding: 9px ;
    text-decoration: none;

}

li a:hover {
	color: purple;
    border-style: solid;
    border-width: 0.5px;
}
#button{
    display: block;
    border-style: solid;
    border-width: 2px;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    text-align: center;
    padding: 9px;
    text-decoration: none;
}
#contact_info {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	position: fixed;
	word-spacing: 70px;
	font-size: 13px;
	top: 95.5%;
	right: 2%;
}		

#body {
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	font-size: 20px;
	position: absolute;
	display: block;
	text-align: center;
	top: 50%;
	left: 40%;
	margin-left: 120px;
	margin-right: 120px;
	
	text-decoration: none;
}
#link{
	color: black;
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	font-size: 30px;
	position: relative;
	text-align: center;
	top:50px;
	margin-left: 20%;
	text-decoration: none;
	border-style: solid;
    border-width: 0.5px;
    padding: 9px;
}
#link:hover{
	color: purple;
	border-style: solid;
    border-width: 2px;
    padding: 9px;
}


