body{
	background: linear-gradient(90deg, #e2e2e2 5%, white 5%);

}
@font-face {
   font-family: "Armonioso-trial"; 
   src: url('fonts/Armonioso-trial.otf');
	font-family: LowCasatLight_PERSONAL_USE; 
   src: url('fonts/LowCasatLight_PERSONAL_USE.ttf');
} 	
h1 {
	color: black;
	font-family: LowCasatLight_PERSONAL_USE;
	text-align: center;
	font-weight: normal;
	font-size: 60px;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: black;
	padding:2%;
}


.screen_grab{
	width: 20%;
	position: relative;	
	left: 15%;
	margin: 20px;
	border-width: 3px;
	border-color: #4d4d4d;
	border-style: solid;
	border-radius: 10px;
	padding: 7px;
	
}
.screen_grab:hover {
  	-webkit-filter: blur(2px);
}

.album{
	width: 50%;
	position: relative;	
	margin: 5px;
	left: 5%;

}

.album:hover {
  	-webkit-filter: grayscale(95%);


}
.photo{
	width: 30%;
	left: 5%;
	margin: 5px;
	position: relative;	
}


#headshot {
	display: block;
	width: 25%;
	position: absolute;
	left: 12%;	
	top: 27%;
	
}

p{
	color: black;
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	font-size: 25px;
	position: relative;
	display: block;
	text-align: center;

}
.nav{
    list-style-type: none;
    margin-bottom: 120px;
    

}

.nav li {
    float: right;
    display: block;

}

.nav li a {
    display: block;
    color: black;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;


}

.nav li a:hover {
	color: purple;

}
.nav #pressed{
    display: block;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    text-align: center;
    text-decoration: none;
    color: purple;
}
#contact_info {
	color: #999999;
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	position: fixed;
	word-spacing: 70px;
	font-size: 13px;
	top: 95.5%;
	right: 2%;
}		

#body {
	color: #666666;
	font-family:  "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, Futura-Medium, "Futura Medium",sans-serif;
	font-size: 20px;
	position: absolute;
	display: block;
	text-align: left;
	top: 40%;
	left: 40%;
	margin-left: 100px;
	margin-right: 80px;
	text-decoration: none;
}
#button{
	color: black;
	font-family: LowCasatLight_PERSONAL_USE;
	font-size: 30px;
	position: relative;
	margin-left: 20%;
	top: 70px;
	text-align: center;
	text-decoration: none;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 9px;
}
#button:hover{
	-webkit-filter: blur(2px);
	

}


